body {
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
    color: hsl(24, 5%, 18%);
    line-height: 1.7;
    overflow: hidden;

}

h1, h2, h3 {
    font-family: 'Young Serif', serif;
    
}

.container {
  max-width: 43.75rem;
  width: 100%;
  padding: 3.125rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 1.25rem;
  margin: auto;
}

img {
    width: 100%;
    height: auto;
    border-radius: 0.625rem;
}

span.bold {
    font-weight: bold;
    color: hsl(30, 10%, 34%);
}

.preparation-time {
    background-color: hsl(330, 100%, 98%);
    padding: 1.25rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
}

.preparation {
    margin-top: 1.25rem;
    font-size: 1.2em;
    color:  hsl(332, 51%, 32%);
}

ul[class="time-list"] li::marker {
    color: hsl(332, 51%, 32%);
    padding-left: 9.375rem;
}

ul[class="ingredients-list"] li::marker {
    color: hsl(14, 45%, 36%);
}

ol > li::marker{
    color: hsl(14, 45%, 36%);
    font-weight: bold;
    margin-left: 1.875rem;

}

li {
    padding-left: 1.25rem;
    position: relative;
}

.sub-heading {
    font-size: 1.5em;
    color: hsl(14, 45%, 36%);
    margin-top: 1.25rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

td span.bold {
    color: hsl(14, 45%, 36%);
}

td {
    padding: 10px;
    border-bottom: 1px solid hsl(0, 0%, 80%);
    padding-left: 1.875rem;
}

@media (max-width: 728px) {
    .container {
        width: 100%;
        padding: 0;
    }

    h1 {
        font-size: 1.75em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }

    .preparation-time, .preparation, .sub-heading {
        font-size: 1em;
    }
}

